<?xml version="1.0"?>
<!--
Created By: Ashish Ranade On : Jun 5, 2017 4:35:56 PM
Project: magento2-develop
File: routes.xml
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="featuredproduct" frontName="featuredproduct">
            <module name="Ashish_Featuredproduct" />
        </route>
    </router>
</config>  