<?xml version="1.0" encoding="UTF-8"?>
<!--
Created By: Ashish Ranade On : 14 Feb, 2020 3:51:59 PM
Project: ASolutions
File: module.xml
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ashish_FirstModule" setup_version="1.0.0" />
</config>