<?xml version="1.0" encoding="UTF-8"?>
<!--
Created By: Ashish Ranade On : Aug 18, 2017 10:34:07 AM
Project: magento2-develop
File: module.xml
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ashish_OrderHold" setup_version="1.0.0" />
</config>
