<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="catalog_block_product_list_collection">
        <observer name="frontend_change" instance="Learning\FirstUnit\Observer\Change"/>
    </event> -->
    <event name="sales_order_place_after" >
        <observer name="after_place_order_sms" instance="SRTechnologies\TransactionalSMS\Observer\OrderplaceSms" />
    </event>
    <event name="customer_register_success" >
        <observer name="customer_register_succesfull_sms" instance="SRTechnologies\TransactionalSMS\Observer\Customerregistersms" />
    </event>
    <event name="sales_order_invoice_save_after" >
        <observer name="sales_order_invoice_sms" instance="SRTechnologies\TransactionalSMS\Observer\OrderinvoiceSms" />
    </event>
</config>