<?xml version="1.0" encoding="UTF-8"?>
<!--
Created By: Ashish Ranade On : 11 Dec, 2019 1:54:36 PM
Project: Training
File: module.xml
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ashish_CheckoutStep" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
